.App {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  color: #f08484;
}

h3 {
  color: #b1b1e7;
}

.book-card {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: #f08484;
  color: white;
}

button:hover {
  background-color: #c66e6e;
}

.rating {
  margin: 10px 0;
}
